version: '3'
services:
    web:
         build: .
         ports:
             - "5000:3000"
    mysql:
        image: "mysql:latest"
        restart: always
        hostname: mysql
        container_name: mysql
        environment:
          - MYSQL_USER=root
          - MYSQL_ROOT_PASSWORD=password
          - MYSQL_DB=bitpal
        ports:
            - "3306:3306"
       
        
    
