version: '3'

services:
    web:
        build: .
        depends_on: 
           - mysql
        expose:
            - "3000"
        ports:
             - "3000:3000"
        entrypoint: ["/bin/bash", "./entrypoint.sh"]
        environment:
          - MYSQL_PASSWORD=mysql
          - MYSQL_DATABASE=budgets_development
          - REACT_APP_SERVER_PORT=3000
          - MYSQL_HOST_IP= mysql
        links:
            - mysql
        command: npm run start
    mysql:
        image: "mysql:latest"
        restart: always
        hostname: mysql
        container_name: mysql
        environment:
          - MYSQL_PASSWORD=mysql
          - MYSQL_ROOT_PASSWORD=mysql
          - MYSQL_DATABASE=budgets_development
          - REACT_APP_SERVER_PORT=3000
        cap_add:
            - SYS_NICE
        command: --character-set-server=utf8
        ports:
            - "3306:3306"
    client:
        stdin_open: true
        build: ./frontend
        environment:
            - MYSQL_PASSWORD=mysql
            - MYSQL_DATABASE=budgets_development
            - REACT_APP_SERVER_PORT=3000
            - NODE_PATH=src
        expose:
            - "5000"
        ports:
            - "5000:5000"
        volumes:
            - ./frontend:/frontend
        links:
            - web
        command: yarn start
    
        
    
