$primary: #ef5955;
$primary-dark: #ad1916;
$primary-pale: #ffaba8;  

$neutral: #414042;
$neutral-dark: #272627;
$neutral-pale: #858586;

$text: #272627;
$text-pale: #ffffee;

$accent: #348c90;
$accent-dark: #0e6569;
$accent-pale: #89cccf;