$primary: #ff7773;
$primary-dark: #ad1916;
$primary-pale: #ffaba8;  

$neutral: #414042;
$neutral-dark: #272627;
$neutral-pale: #858586;
$neutral-very-pale: #e3e3e3;

$text: #272627;
$text-pale: #ffffee;

$accent: #348c90;
$accent-dark: #0e6569;
$accent-pale: #89cccf;

$success: #43bc4b;
$success-dark: #167a1c;
$success-pale: #8fde94;