@import "../../styles/colors";

.budget-details-card {
    margin: 1rem 0 !important;
}

.budget-delete-button {
    margin-left: 5px;
    background-color: $primary !important;
    border-color: $primary !important;
    float: right;
}